[nz-button].btn--area {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;

  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.card-info {
  border-bottom: 1px solid var(--grey);
  display: flex;
  gap: 15px;
}

.card-info__username {
  display: flex;
  flex-direction: column;
}

.anticon {
  margin: 15px;
}
