@use "src/styles.scss" as *;

.dashboard-page {
  background-color: var(--primary);
  position: relative;
  & h2 {
    margin-top: 0.7em;
    text-align: center;
  }
  & button {
    position: absolute;
    top: 0.5em;
    right: 100px;
    padding: 0.8em 2em;
    height: unset;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1em;
  }

  &__content {
    background-color: var(--white);
    margin: 0em 7.5em 0.7em;
    padding: 2em;
    border-radius: 20px;
    & .dashboard-guide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70vh;
      flex-direction: column;
    }
  }
}

.status-draft {
  color: var(--grey);
}
.status-end {
  color: var(--green);
}
.status-ended {
  color: var(--green1);
}
.status-start {
  color: var(--red);
}
