<form
  class="create-poll-form"
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="createPollForm"
  (ngSubmit)="onSubmitPoll()"
>
  <nz-form-item class="form-question">
    <label for="question">Title</label>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <nz-input-group [nzSuffix]="addImageButton">
        <input
          id="question"
          nz-input
          type="text"
          placeholder="Type your question here"
          formControlName="question"
        />
        <ng-template #addImageButton>
          <button
            (click)="handleAddImage()"
            nz-button
            type="button"
            nzType="text"
          >
            <span nz-icon nzType="file-image" nzTheme="outline"></span>
          </button>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
    <button
      (click)="handleToggleDescription()"
      nz-button
      nzType="text"
      type="button"
      *ngIf="!isShowDescription"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Add description
    </button>
    <ng-template #emailErrorTpl let-control>
      <ng-container *ngIf="control.errors.maxlength">
        Maximum is 120 characters</ng-container
      >
      <ng-container *ngIf="control.hasError('required')">
        This field is required
      </ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item class="form-description" *ngIf="isShowDescription">
    <nz-form-control nzErrorTip="This field is required">
      <textarea
        formControlName="description"
        nz-input
        rows="5"
        cols="10"
      ></textarea>
      <button (click)="handleToggleDescription()" nz-button nzType="text">
        Hide description
      </button>
    </nz-form-control>
  </nz-form-item>

  <img nz-image [nzSrc]="avatarPreview" alt="image" *ngIf="avatarPreview" />

  <nz-form-item class="form-voting-type">
    <label for="multiple-choice"> Voting type </label>
    <nz-select
      formControlName="votingType"
      id="multiple-choice"
      nzPlaceHolder="Choose voting type"
      (ngModelChange)="handleSelectChange($event)"
    >
      <nz-option
        *ngFor="let option of votingTypeOptions"
        [nzValue]="option.id"
        [nzLabel]="option.label"
      ></nz-option>
    </nz-select>
  </nz-form-item>

  <nz-form-item class="form-answer-options">
    <label for="answerOptions">Answer Options</label>
    <nz-input-group
      [nzSuffix]="addAnswer"
      formArrayName="answerOptions"
      *ngFor="let control of answerOptionControls; index as i"
    >
      <input
        nz-input
        id="answerOptions"
        type="text"
        placeholder="Type your answer here"
        [formControlName]="i"
      />
      <ng-template #addAnswer>
        <button
          nz-button
          type="button"
          nzType="text"
          (click)="handleRemoveAnswer(i)"
          *ngIf="
            answerOptionControls.length > 1 &&
            createPollForm.get('votingType')?.value !== 'yes/no'
          "
        >
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
      </ng-template>
    </nz-input-group>
    <button
      class="add-answer-button"
      [nzType]="'default'"
      nz-button
      type="button"
      [disabled]="createPollForm.get('votingType')?.value === 'yes/no'"
      (click)="handleAddAnswer()"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Add Poll
    </button>
    <nz-alert
      *ngIf="
        isSubmitted &&
        (createPollForm.get('answerOptions')?.hasError('minlength') ||
          createPollForm.get('answerOptions')?.hasError('isInvalidOptions'))
      "
      nzType="error"
      nzMessage="Please enter at least two options"
      nzShowIcon
    ></nz-alert>
  </nz-form-item>

  <div class="form-actions">
    <button type="button" nz-button nzType="primary">Cancel</button>
    <button
      type="submit"
      nz-button
      nzType="primary"
      [disabled]="createPollForm.invalid"
    >
      Continue
    </button>
  </div>
</form>

<app-modal
  [openModal]="isOpenModal"
  [title]="'ADD IMAGE'"
  (onCancel)="handleCancelModal()"
>
  <ng-container>
    <label for="file-upload" class="upload-image-wrapper">
      <span nz-icon nzType="file-image" nzTheme="outline"></span>
      <p>Click to upload or drop image right here</p>
      <input
        id="file-upload"
        type="file"
        (change)="handleUploadImage($event)"
        accept="image/png, image/gif, image/jpeg"
        [multiple]="false"
        #inputImage
      />
    </label>
  </ng-container>
</app-modal>
