<form
  nz-form
  [formGroup]="loginForm"
  [nzLayout]="'vertical'"
  (submit)="onSubmit()"
>
  <nz-form-item>
    <nz-form-label nzFor="email"> Email </nz-form-label>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <input
        nz-input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Enter email"
      />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"
          >Email is required</ng-container
        >
        <ng-container *ngIf="control.hasError('email')"
          >Email is not valid</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="password"> Password </nz-form-label>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <input
        nz-input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Enter password"
      />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"
          >Password is required</ng-container
        >
      </ng-template>
    </nz-form-control>
    <a [routerLink]="[]">Forgot Password?</a>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    [nzLoading]="isLoading"
    [disabled]="loginForm.invalid"
  >
    Log In
  </button>
  <div class="sign-up--description">
    <span>
      Don't have an account? <a [routerLink]="['/register']">Sign up</a>
    </span>
  </div>
</form>
