<form
  nz-form
  [formGroup]="loginForm"
  [nzLayout]="'vertical'"
  (submit)="onSubmit()"
>
  <nz-form-item>
    <nz-form-label nzFor="email"> Email </nz-form-label>
    <nz-form-control nzErrorTip="Email is not valid">
      <input
        nz-input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Enter email"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="password"> Password </nz-form-label>
    <nz-form-control nzErrorTip="Password is required">
      <input
        nz-input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Enter password"
      />
    </nz-form-control>
    <a [routerLink]="[]">Forgot Password?</a>
  </nz-form-item>
  <button nz-button nzType="primary" [nzLoading]="isLoading">Log In</button>
  <div class="sign-up--description">
    <span> Don't have an account? <a [routerLink]="[]">Sign up</a> </span>
  </div>
</form>
