:root {
  --primary: #f49a9a;
  --secondary: #fcfaed;
  --black: #000000;
  --black03: rgba(0, 0, 0, 0.18);
  --white: #ffffff;
  --grey: #434343;
  --grey01: rgba(217, 217, 217, 0.71);
  --grey02: #484848;
  --red: #d71414;
  --green: #c9da0c;
  --green1: #3c9a0f;
  --yellow: #e4df67;
  --orange: #e4893a;
  --blue: #108ee9;
}

$xs: "575px";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1600px";
