:root {
  --primary: #f0adae;
  --black: #000000;
  --white: #ffffff;
  --grey: #434343;
  --red: #d71414;
  --green: #c9da0c;
  --green1: #3c9a0f;
  --yellow: #e4df67;
  --orange: #e4893a;
  --blue: #108ee9;
}

$xs: "575px";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1600px";
